:root{
/*	--bs-link-color: #4ba5a1;*/
}

body{
	overflow-x: hidden;
	background: #f7f3ff;
}

img{
	max-width: 100%;
}

a{
	text-decoration: none;
}

.sortable .ui-placeholder{
	background: lightblue;
	list-style-type: circle;
}
.sortable .ui-placeholder::after{
	content: "\a0";
}

.sortable-handle{
	cursor: all-scroll;
}

.shadow-block{
	background: #fff;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 0 .5rem rgba(0,0,0,.075);
}

.pagination-wrapper .pagination{
	margin: 0;
}

.marked-form{
	border-top: 3px solid #f5bd57;
	padding-top: 15px;
}
.marked-form.saved{
	border-top: 3px solid #98c998;
}

#ajax_loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ffffff59;
    left: 0;
    top: 0;
    display: none;
    place-content: center;
    opacity: 1;
    transition: opacity 0.6s linear;
}

#ajax_loader.active{
    display: grid;
    animation: ajax_loader .3s;
}

@keyframes ajax_loader {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
 }
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #4ba5a1 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
}

.form-control-color,
.form-control-color.is-valid{
	width: 100%;
}

#menuSettingsModalForm button[type="submit"]{
	display: none;
}